<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DbContext" connectionString="PUs0pvfe7O2N69wffcKQ4VYK2FWph8zELdofcG8XPFCEYE3wUvHnfyRCl6K6ijgDU5gXjvp/y7dwyv5MGXmU1Nev22XA0u9ABHfnGY2UWxG1oGifBJc8rwfhpfQr9qJ06KHZmEDb7S8yDOavT6zFBf7SHoS5kPIMrXUzPwo7FYDVNmG/EdwEpVqnoNTqAriQptt7p6Jc89K7oKszI7I1+CF8o5XHGs5qA08upUhZsKGOaXMycCMmxDJkD4Sv/B8+3mwqpfwvekzU+iTZhHNS4K/evnk5A3l8AfGQarheN4y5uN1IDaqTWL77+4a/IgJxoy/n4OGFuRcXpjY/XyY1vQ==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- AWS S3 Configuration encrypted-->
    <add key="AWS.AccessKey" value="YGCka+SotmFCQdN9jSodDm/Ieo76i1QqM5A51guOokI=" />
    <add key="AWS.SecretKey" value="w5bmw1dt36F8UWAy4wd+HY7Zn4AoMXToCkkKC/MyVxYXmxlAQevnbWIgjtJda417" />
    <add key="AWS.Region" value="us-east-1" />
    <add key="AWS.S3.BucketName" value="vacantaai" />
	<add key="pexelsAPI" value="Vq33dhdxYdv5btpqLrA9+lfzrXIX09aq77b+rW1kiub2JzHSaZTUjhN5vRq5PAj1iFxTiqlmTXkCx1fSPpaB6A==" />
	 <add key="AzureBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vacantaai;AccountKey=+l9Ts/MzVfBnKCOJghFy2hYVLeppi6Lvpy+vpNzVUqj8a6oMTnny9+90H+mtLqCNYV5mjOkWU55R+ASt371qaQ==;EndpointSuffix=core.windows.net" />
	 <add key="AzureBlobContainerName" value="vacantaai" />
	 <add key="AzureBlobPublic" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="51200" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>